@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Zanabazar+Square&display=swap");



* {
  list-style: none !important;
  text-decoration: none !important;
}
.background {
  width: 100%;
  background-color: #00c6c9a8;
  min-height: 100vh;
 
 
 

}
.kkk {
  height: 500px !important;
}



:root {
  /* ^ ====> Colors */
  --violet-900: #00C4C9;
  --violet-800: #00c6c9cb;
  --violet-700: #9a53d2;
  --violet-200: #8388a7;
  --violet-100: #ecd8fe;
  --orange-900: #bf6040;
  --orange-100: #fee5dd;
  --green-900: #349960;
  --green-100: #d8efe2;
  --white-900: #ffffff;
  --white-800: #f7f8fc;
  --white-700: #e5e8f1;
  --white-600: #cfd2db;
  --white-200: #e3e3e3;

  --black-900: #121212;
  --black-800: #202020;
}
.box {
  width: 80% !important;
  height: 50% !important;
}
.hr {
  border-top: 3px solid var(--violet-800)!important;
  width: 1170px;

}
body {
  font-family: "Noto Sans Zanabazar Square", sans-serif;
  background-color: var(--white-800);
  color: var(--violet-900);
}
.dark {
  --white-900: #202020;
  --white-700: #303030;
  --violet-100: #913bd3;
  background-color: var(--black-900);
  color: var(--white-200);
}
.font-Montserrat {
  font-family: "Montserrat Alternates", sans-serif;
}

.bg-main {
  background-color: var(--violet-800) !important;
}
.carcol {
  cursor: pointer !important;
}

.text-main {
  color: var(--violet-800);
}
.bg {
  background-color: rgba(145, 59, 211, 0.548);
}
.font {
  color: var(--violet-900) !important;
}
.icon {
  color: #FAB700;
}

.dark {
  --white-900: #202020;
  --white-700: #303030;
  --violet-100: #913bd3;
  background-color: var(--black-900);
  color: var(--white-200);
}